---
# 1. APP SETUP: Create user and download code (Imported from Common)
- name: app setup
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup.yaml

# 2. RUNTIME SETUP: Install Node.js and NPM dependencies
- name: nodejs setup
  ansible.builtin.import_role:
    name: common
    tasks_from: nodejs-setup.yaml

# 3. SERVICE SETUP: Configure the Systemd unit file
- name: systemd setup
  ansible.builtin.import_role:
    name: common
    tasks_from: systemd-setup.yaml

# 4. START: Ensure the service is running and enabled on boot
- name: start cart
  ansible.builtin.service:
    name: cart
    state: restarted
    enabled: yes